<main class="container contato" id="contato">
  <h2 class="cinzel_title">Contato da <span class="destaque_title">Black Studio</span></h2>
  <section class="contato_container">
    <section class="contato_container_image">
      <img src="../../../assets/images/Background_Images/image_background_form.png" alt="">
    </section>
    <section class="contato_container_form">
      <h4 class="cinzel_title">Ainda tem alguma dúvida? <span class="destaque_title">Tire agora mesmo</span></h4>
      <app-form></app-form>
    </section>
  </section>
</main>
