<footer class="container">
  <main class="cinzel_title footer_main">
    <section>
      <h4>Institucional</h4>
      <ul class="footer_main_links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Equipe</a></li>
        <li><a href="#">Galeria</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Contatos</a></li>
      </ul>
    </section>
    <section class="footer_main_contatos">
      <h4>Contatos da <span class="destaque_title">Black Studio</span></h4>
      <span class="roboto_text footer_main_contatos_infos">Rua SeiQueLa 256, Vila Nelso - São Paulo</span>
      <span class="roboto_text footer_main_contatos_infos">+55 (11) 99999-9999</span>
      <div class="footer_main_contatos_links">
        <img src="../../../assets/images/vetor-Instagram.svg" alt="">
        <img src="../../../assets/images/vetor-WhatsApp.svg" alt="">
      </div>
    </section>
    <section class="footer_main_map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387191.0474032179!2d-74.31001209912661!3d40.69753801331597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNova%20Iorque%2C%20NY%2C%20EUA!5e0!3m2!1spt-BR!2sbr!4v1722311471970!5m2!1spt-BR!2sbr" width="450" height="230" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
  </main>
  <section class="roboto_text footer_end">
    <p>&copy; Todos os direitos reservados ao <span class="destaque_title">Black Studio Tattoo</span> - 2024</p>
  </section>
</footer>
