<main class="container sobre" id="sobre">
  <div class="home_image">
    <img src="https://i.pinimg.com/736x/a5/6b/21/a56b2119d39bc82f2df6858f5e37d332.jpg" alt="">
    <div class="home_image_black"></div>
  </div>
  <section>
    <h2 class="cinzel_title">Sobre a <span class="destaque_title">Black Studio Tattoo</span></h2>
    <p class="roboto_text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Alias iure aliquid nostrum, aspernatur beatae dolor voluptates porro,
      animi at corporis ipsa tenetur aut! Aliquid deserunt esse porro veniam,
      provident neque.Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Alias iure aliquid nostrum, aspernatur beatae dolor voluptates porro,
      animi at corporis ipsa tenetur aut! Aliquid deserunt esse porro veniam,
      provident neque.Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Alias iure aliquid nostrum, aspernatur beatae dolor voluptates porro,
      animi at corporis ipsa tenetur aut! Aliquid deserunt esse porro veniam,
      provident neque.Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Alias iure aliquid nostrum, aspernatur beatae dolor voluptates porro,
      animi at corporis ipsa tenetur aut! Aliquid deserunt esse porro veniam,
      provident neque.
    </p>
  </section>
</main>
