.header {
  width: 100%;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(16px);
  z-index: 2;
}

.header_links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 24px;

  .active {
    border-bottom: 1px solid #ff4500;
    transition: .1s ease;

    &:hover {
      border-color: #f5f5f5;
      transition: .1s ease-out;
    }
  }
}

.header_links_link {
  a {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 0.8em;
    transition: .1s ease;

    &:hover {
      color: #ff4500;
      border-color: #f5f5f5;
      transition: .1s ease-out;
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 1em 0 0 0;

    &_links_none {
      display: none;
    }

    &_links_visible {
      display: block;
    }
  }

  .header_links {
    &_link {
      width: 100%;
      font-size: 14px;

      a {
        width: 100%;
        padding: .5em;
        display: inline-block;
      }
    }

    .active {
      border: none;

      a {
        color: #ff4500;
        background-color: #f5f5f5;
      }
    }
  }

  .header_mobile {
    padding: .5em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f5f5f5;
  }

  .header_hamburgue {
    display: flex;
    flex-direction: column;
    row-gap: .5em;

    span {
      width: 2em;
      height: .2em;
      display: block;
      background-color: #f5f5f5;
    }
  }

  .home_button {
    width: 45%;
    border: none;
    border-radius: 16px;
    background-color: #D43900;
    color: #f5f5f5;
    font-weight: bold;
    font-size: 0.7em;
    cursor: pointer;
    transition: .2s ease;

    a {
    width: 100%;
    padding: .7em;
    display: block;
    color: #f5f5f5;
    text-decoration: none;
  }

    &:hover{
      background-color: #f5f5f5;
      color: #D43900;
      border: 1px solid #D43900;
      transition: .2s ease-out;
    }
  }
}

@media screen and (min-width: 768px) {
  .header_mobile {
    display: none;
  }

  .header_links_link {
    a {
      font-size: 1em;
    }
  }
}
