<section>
  <div class="card">
    <div class="card_pergunta">
      <h3 class="cinzel_title">
        {{ quest.quest }}
      </h3>
      <button class="card_pergunta_button" (click)="toggle()">
        <ng-container *ngIf="isToggled; else notToggled">
          <img src="../../../assets/images/vetor-menos.svg" alt="">
        </ng-container>
        <ng-template #notToggled>
          <img src="../../../assets/images/vetor-mais.svg" alt="">
        </ng-template>
      </button>
    </div>
    <div>
      <p class="roboto_text card_resposta" *ngIf="isToggled">
        {{ quest.response }}
      </p>
    </div>
  </div>
</section>
