<main class="container galeria" id="galeria">
  <h2 class="cinzel_title">Galeria da <span class="destaque_title">Black Studio</span></h2>
  <section class="galeria_container">
    <div class="galeria_container_card galeria_container_card_duo">
      <img src="../../../assets/images/image_tattoo/Frame 25 (1).png" alt="">
      <div class="galeria_container_card_black"></div>
    </div>
    <div class="galeria_container_card galeria_container_card_duo">
      <img src="../../../assets/images/image_tattoo/Tattoo_1.jpg" alt="">
      <div class="galeria_container_card_black"></div>
    </div>
    <div class="galeria_container_card">
      <img src="../../../assets/images/image_tattoo/Tattoo_2.jpg" alt="">
      <div class="galeria_container_card_black"></div>
    </div>
    <div class="galeria_container_card galeria_container_card_duo">
      <img src="../../../assets/images/image_tattoo/Frame 25.png" alt="">
      <div class="galeria_container_card_black"></div>
    </div>
    <div class="galeria_container_card galeria_container_card_duo">
      <img src="../../../assets/images/image_tattoo/Frame 26.png" alt="">
      <div class="galeria_container_card_black"></div>
    </div>
    <div class="galeria_container_card">
      <img src="../../../assets/images/image_tattoo/Tattoo_3.jpg" alt="">
      <div class="galeria_container_card_black"></div>
    </div>
    <div class="galeria_container_card galeria_container_card_duo">
      <img src="../../../assets/images/image_tattoo/Tattoo_4.jpg" alt="">
      <div class="galeria_container_card_black"></div>
    </div>
    <div class="galeria_container_card galeria_container_card_duo">
      <img src="../../../assets/images/image_tattoo/Tattoo_5.jpg" alt="">
      <div class="galeria_container_card_black"></div>
    </div>
    <div class="galeria_container_card">
      <img src="../../../assets/images/image_tattoo/Tattoo_6.jpg" alt="">
      <div class="galeria_container_card_black"></div>
    </div>
    <div class="galeria_container_card galeria_container_card_duo">
      <img src="../../../assets/images/image_tattoo/Tattoo_7.jpg" alt="">
      <div class="galeria_container_card_black"></div>
    </div>
    <div class="galeria_container_card galeria_container_card_duo">
      <img src="../../../assets/images/image_tattoo/Tattoo_8.jpg" alt="">
      <div class="galeria_container_card_black"></div>
    </div>
    <div class="galeria_container_card">
      <img src="../../../assets/images/image_tattoo/Tattoo_9.jpg" alt="">
      <div class="galeria_container_card_black"></div>
    </div>
  </section>
  <button class="galeria_button">Ver mais</button>
</main>
