.equipe {
  width: 100%;
  margin-bottom: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .equipe {
    margin-top: 13em;

    h2 {
      font-size: 1em;
    }
  }

}
